includes:
    - /app/vendor/nunomaduro/larastan/extension.neon

parameters:
    excludePaths:
       - *Enum.php
    paths:
        - /app/app
        - /app/config
        - /app/database
        - /app/routes

    level: 8
    ignoreErrors:
        - identifier: missingType.generics
        - identifier: missingType.iterableValue
    tmpDir: /tmp/phpstan
